head
   block head
      link(rel="stylesheet" href="http://localhost:3000/css/style.css")
      title Book Store
body
   block navigation
      nav.nav
         .container.flex--between
            .nav__brand Book Store
            ul.nav__menu
               li.nav__item
                  a.nav__link(href="/book") Books
               li.nav__item
                  a.nav__link(href="/author") Author
            form.form.form-search(method="POST")
               input.form__input(type="text" name="search" placeholder="book title...")
               button.btn.btn-search(type="submit") Search
   block content
   block footer
      footer.footer
         .container.flex--between Book Store