/* global styling */

*,
*::after,
*::before {
   box-sizing: border-box;
}

:focus {
   outline: none;
}

html {
   font-family: 'Poppins', sans-serif;
}

body {
   margin: 0;
   overflow-x: hidden;
   background-color: #f0f0f0;
}

input,
textarea,
button {
   font-family: inherit;
   border: none;
}

button {
   cursor: pointer;
}

ol,
ul {
   list-style: none;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
}

a {
   text-decoration: none;
   color: inherit;
}

p,
span,
small {
   color: #404040;
}

main {
   min-height: 100vh;
}


/* utilities */
.container {
   height: 100%;
   width: 80%;
   margin: 0 auto;
}

.flex--between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 2rem;
   width: 7.5rem;
   background-color: #909090;
}

.btn--rounded {
   border-radius: 100rem;
}

.text--style {
   position: relative;
   z-index: 1;
   color: #000;
}

.text--style::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   height: 50%;
   width: 100%;
   background-color: #f8b33444;
   z-index: -1;
   transition: .3s ease-out;
}

.text--style:hover::after {
   height: 100%;
}

/* main content */
.nav {
   height: 5rem;
   background-color: #5c5cec;
   color: #fafafa;
}

.nav__brand {
   font-size: 2rem;
}

.nav__menu {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.form__input {
   display: inline-block;
   background-color: #fafafa;
   border: 1px solid #d0d0d0;
   height: 2rem;
   width: 15rem;
   padding: 0 .5rem;
}

.btn-search {
   background-color: #f8b334;
}

.content {
   height: max-content;
   padding: 5rem 0;
}

.books {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-auto-rows: auto;
   gap: 2rem;
}

.card {
   padding: 1rem;
   background-color: #fafafa;
   box-shadow: 5px 5px 10px rgba(0,0,0,.16);
   border-radius: .5rem;
   height: max-content;
   transition: .15s ease-out;
}

.card:hover {
   box-shadow: 10px 10px 20px rgba(0,0,0,.1);
}

.card__head {
   height: 10rem;
}

.card__image {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: .5rem;
}

.card__title {
   margin-bottom: 0;
}

.card__subtitle {
   display: block;
   margin-bottom: 1rem;
}

.btn-details {
   background-color: #5c5cec;
   color: #fafafa;
   display: flex;
}

.footer {
   height: 40vh;
   background-color: #2f2f2f;
   color: #fafafa;
}